.nav-box {
.nav-box {
    margin: 0;
    height: 80px;
    width: 100%;
    background-color: orange;
    display: flex;
}
.nav-heading {
    margin: 1.5rem 0 1rem 0.5rem;
.nav-heading {
    margin: 1.5rem 0 1rem 0.5rem;
    font-size: larger;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  