/* DONE */

html{
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body{
    background-color: #FFE8D6;
    /* text-align: center; */
    /* display: inherit; */
}
.upper-container{
    width: 100%;
}
.container-main{
    display: flex;
    width: 100%;
    background-image: url('./bgimage.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
}
.left-sec {
    background-color: transparent;
    padding: 20px;
    margin: 90px 50px 10px;
    width: 30vw;
    max-width: max-content;
    height: 80vh;
    max-height: fit-content;
}
.main-heading1{
    background-color: transparent;
    color: black;
    font-weight: bolder;
    margin-bottom: 10px;
    text-align: left;
    letter-spacing: 1px;
    font-size: xx-large;
    font-family: "Bacasacasimeime Antique", serif;
}
.left-sec p{
    background-color: transparent;
    text-align: left;
    font-size: large;
    letter-spacing: 1.5px;
    font-family: "Montserrat", sans-serif;
}
.right-sec h3{
    font-family: "Bacasime Antique", serif;
    /* background-color: transparent; */
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
    font-size: xx-large;
}
.right-sec p {
    background-color: transparent;
    text-align: left;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight:600;
}
.right-sec{
    background-color: transparent;
    padding: 20px;
    margin-top: 5%;
    margin-left: 34%;
    width: 20vw;
    height: fit-content;
    display: flex;
    display: table-column;
    align-items: center;
    justify-content: center;
}
.login-btn,
.register-btn {
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    box-shadow: 5px 10px 10px gray;
    margin-left: 0;
    margin-bottom: 30px;
    width: 45%;
    min-width: fit-content;
    height: 40px;
    letter-spacing: 1px;
    font-family: "Bacasime Antique", serif;
}
.login-btn:hover,
.register-btn:hover {
    background-color: white;
    color: black;
  }
  
@media only screen and (max-width: 768px){
    .container-main{
        flex-direction: column;
        background-attachment: fixed;
        background-position: center;
    }
    .left-sec{
        order: 1;
        margin: 20% auto 0 auto;
        width: 85%;
        height: auto;
        padding: 0;
    }
    .lmain-heading1{
        margin-top: 0;
        text-align: center;
        font-size: x-large;
    }
    .left-sec p{
        font-size: medium;
        letter-spacing: 1.4px;
        margin-bottom: 0;
    }
    .right-sec {
        order: 2;
        margin: 0 auto 0 auto;
        width: 85%;
        height: auto;
        padding: 0;
    }
    .right-sec h3{
        font-size: x-large;
        margin-bottom: 0;
    }
    .right-sec p{
        font-size: medium;
        letter-spacing: 1.4px;
        margin-bottom: 0;
    }
}





